In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("synthetic_financial_data.csv",index_col=0)

In [3]:
df

,customer_id,merchant_id,amount,transaction_time,is_fraudulent,card_type,location,purchase_category,customer_age,transaction_description
transaction_id,,,,,,,,,,
1,1082,2027,5758.59,2023-01-01 00:00:00,0,MasterCard,City-30,Gas Station,43,Purchase at Merchant-2027
2,1015,2053,1901.56,2023-01-01 00:00:01,1,Visa,City-47,Online Shopping,61,Purchase at Merchant-2053
3,1004,2035,1248.86,2023-01-01 00:00:02,1,MasterCard,City-6,Gas Station,57,Purchase at Merchant-2035
4,1095,2037,7619.05,2023-01-01 00:00:03,1,Discover,City-6,Travel,59,Purchase at Merchant-2037
5,1036,2083,1890.10,2023-01-01 00:00:04,1,MasterCard,City-34,Retail,36,Purchase at Merchant-2083
...,...,...,...,...,...,...,...,...,...,...
9996,1056,2023,8935.28,2023-01-01 02:46:35,1,MasterCard,City-39,Restaurant,36,Purchase at Merchant-2023
9997,1053,2026,30.15,2023-01-01 02:46:36,0,MasterCard,City-32,Retail,42,Purchase at Merchant-2026
9998,1041,2034,6333.64,2023-01-01 02:46:37,0,American Express,City-1,Online Shopping,36,Purchase at Merchant-2034
9999,1009,2019,2837.13,2023-01-01 02:46:38,1,Visa,City-11,Retail,57,Purchase at Merchant-2019
10000,1082,2070,7209.43,2023-01-01 02:46:39,1,Discover,City-1,Gas Station,50,Purchase at Merchant-2070

In [4]:
df.dtypes

customer_id                  int64
merchant_id                  int64
amount                     float64
transaction_time            object
is_fraudulent                int64
card_type                   object
location                    object
purchase_category           object
customer_age                 int64
transaction_description     object
dtype: object

In [5]:
df1=df.loc[:,["amount","is_fraudulent","customer_age"]]

In [6]:
df1

                 amount  is_fraudulent  customer_age
transaction_id
1               5758.59              0            43
2               1901.56              1            61
3               1248.86              1            57
4               7619.05              1            59
5               1890.10              1            36
...                 ...            ...           ...
9996            8935.28              1            36
9997              30.15              0            42
9998            6333.64              0            36
9999            2837.13              1            57
10000           7209.43              1            50

[10000 rows x 3 columns]

In [7]:
from sklearn import preprocessing

In [8]:
norm=preprocessing.normalize(df1)

In [9]:
norm

array([[9.99972122e-01, 0.00000000e+00, 7.46689750e-03],
       [9.99485730e-01, 5.25613565e-04, 3.20624274e-02],
       [9.98959726e-01, 7.99897287e-04, 4.55941454e-02],
       ...,
       [9.99983847e-01, 0.00000000e+00, 5.68384349e-03],
       [9.99798180e-01, 3.52397733e-04, 2.00866708e-02],
       [9.99975942e-01, 1.38703884e-04, 6.93519419e-03]])

In [10]:
out = pd.DataFrame(norm,columns=df1.columns)

In [11]:
out

        amount  is_fraudulent  customer_age
0     0.999972       0.000000      0.007467
1     0.999486       0.000526      0.032062
2     0.998960       0.000800      0.045594
3     0.999970       0.000131      0.007744
4     0.999819       0.000529      0.019043
...        ...            ...           ...
9995  0.999992       0.000112      0.004029
9996  0.583158       0.000000      0.812359
9997  0.999984       0.000000      0.005684
9998  0.999798       0.000352      0.020087
9999  0.999976       0.000139      0.006935

[10000 rows x 3 columns]

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler=StandardScaler()

In [14]:
scaled_data=scaler.fit_transform(df1)
scaled_data

array([[ 0.2759763 , -1.01369375, -0.06837047],
       [-1.0542383 ,  0.98649123,  1.10649206],
       [-1.27934184,  0.98649123,  0.8454115 ],
       ...,
       [ 0.47429986, -1.01369375, -0.52526146],
       [-0.73157841,  0.98649123,  0.8454115 ],
       [ 0.77634279,  0.98649123,  0.38852051]])

In [15]:
pd.DataFrame(scaled_data,columns=df1.columns)

        amount  is_fraudulent  customer_age
0     0.275976      -1.013694     -0.068370
1    -1.054238       0.986491      1.106492
2    -1.279342       0.986491      0.845411
3     0.917613       0.986491      0.975952
4    -1.058191       0.986491     -0.525261
...        ...            ...           ...
9995  1.371555       0.986491     -0.525261
9996 -1.699651      -1.013694     -0.133641
9997  0.474300      -1.013694     -0.525261
9998 -0.731578       0.986491      0.845411
9999  0.776343       0.986491      0.388521

[10000 rows x 3 columns]

In [16]:
out

        amount  is_fraudulent  customer_age
0     0.999972       0.000000      0.007467
1     0.999486       0.000526      0.032062
2     0.998960       0.000800      0.045594
3     0.999970       0.000131      0.007744
4     0.999819       0.000529      0.019043
...        ...            ...           ...
9995  0.999992       0.000112      0.004029
9996  0.583158       0.000000      0.812359
9997  0.999984       0.000000      0.005684
9998  0.999798       0.000352      0.020087
9999  0.999976       0.000139      0.006935

[10000 rows x 3 columns]

In [17]:
x=np.array([2,4,6,8,10])
y=np.array([3,6,9,12,15])
np.cov(x,y)[0,1]
#if x increases by 1 unit y increases 15 unit

15.0

# CORRELATION

In [31]:
tips=pd.read_csv("tips.csv")

In [32]:
titanic=pd.read_csv("titanic.csv")

In [33]:
housing=pd.read_csv("housing.csv")

In [22]:
trends=pd.read_csv("shopping_trends.csv",index_col=0)

In [49]:
car=pd.read_csv("car_crashes.csv")

In [34]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [41]:
cor_tips=tips.corr()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5320\2352119920.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cor_tips=tips.corr()

In [68]:
cor_tips
# tips and total bill is more related to the data and is showing +ve correlation which means when total bill increases tip also increase
#size is also related , but not much as total bill
#size is showing positive relation to total bill not in a big strength but still that indicates as size increases the tendency is a hike in the total bill also

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [47]:
cor_tips["tip"].sort_values(ascending=False)

tip           1.000000
total_bill    0.675734
size          0.489299
Name: tip, dtype: float64

In [25]:
titanic

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
survived,,,,,,,,,,,,,,
0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [48]:
cor_titanic=titanic.corr()
cor_titanic

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5320\696265509.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cor_titanic=titanic.corr()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [85]:
cor_titanic["survived"].sort_values(ascending=False)
#fare is showing a very small +ve relation when the fare increase the class increase which result in the rescue faster
#showing negative relation towards male which indicates survival rate decreased in male which indicates there are chances male taking part in rescue operation risking their own lives

survived      1.000000
fare          0.257307
parch         0.081629
sibsp        -0.035322
age          -0.077221
alone        -0.203367
pclass       -0.338481
adult_male   -0.557080
Name: survived, dtype: float64

In [78]:
cor_titanic["pclass"].sort_values(ascending=False)
#pclass show negative correlation to fare becz if pclass increases its passenger class which means the fare will be less

pclass        1.000000
alone         0.135207
adult_male    0.094035
sibsp         0.083081
parch         0.018443
survived     -0.338481
age          -0.369226
fare         -0.549500
Name: pclass, dtype: float64

In [79]:
cor_titanic["age"].sort_values(ascending=False)
#sibsp and p class showing small negative relation

age           1.000000
adult_male    0.280328
alone         0.198270
fare          0.096067
survived     -0.077221
parch        -0.189119
sibsp        -0.308247
pclass       -0.369226
Name: age, dtype: float64

In [80]:
cor_titanic["sibsp"].sort_values(ascending=False)
#showing +ve relation to parch
#showing -ve relation to alone if the person is alone there is no chance for sibsp

sibsp         1.000000
parch         0.414838
fare          0.159651
pclass        0.083081
survived     -0.035322
adult_male   -0.253586
age          -0.308247
alone        -0.584471
Name: sibsp, dtype: float64

In [81]:
cor_titanic["parch"].sort_values(ascending=False)
#parch showing +ve relation to sibsp which means parent or children or family present
#showing -ve relation to alone , if the person is alone parent or children wont travel with them

parch         1.000000
sibsp         0.414838
fare          0.216225
survived      0.081629
pclass        0.018443
age          -0.189119
adult_male   -0.349943
alone        -0.583398
Name: parch, dtype: float64

In [82]:
cor_titanic["fare"].sort_values(ascending=False)
#refer above

fare          1.000000
survived      0.257307
parch         0.216225
sibsp         0.159651
age           0.096067
adult_male   -0.182024
alone        -0.271832
pclass       -0.549500
Name: fare, dtype: float64

In [83]:
cor_titanic["adult_male"].sort_values(ascending=False)
#refer above

adult_male    1.000000
alone         0.404744
age           0.280328
pclass        0.094035
fare         -0.182024
sibsp        -0.253586
parch        -0.349943
survived     -0.557080
Name: adult_male, dtype: float64

In [84]:
cor_titanic["alone"].sort_values(ascending=False)
#refer above

alone         1.000000
adult_male    0.404744
age           0.198270
pclass        0.135207
survived     -0.203367
fare         -0.271832
parch        -0.583398
sibsp        -0.584471
Name: alone, dtype: float64

In [50]:
car

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA
5,13.6,5.032,3.808,10.744,12.920,835.50,139.91,CO
6,10.8,4.968,3.888,9.396,8.856,1068.73,167.02,CT
7,16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE
8,5.9,2.006,1.593,5.900,5.900,1273.89,136.05,DC
9,17.9,3.759,5.191,16.468,16.826,1160.13,144.18,FL
10,15.6,2.964,3.900,14.820,14.508,913.15,142.80,GA
11,17.5,9.450,7.175,14.350,15.225,861.18,120.92,HI
12,15.3,5.508,4.437,13.005,14.994,641.96,82.75,ID
13,12.8,4.608,4.352,12.032,12.288,803.11,139.15,IL
14,14.5,3.625,4.205,13.775,13.775,710.46,108.92,IN
15,15.7,2.669,3.925,15.229,13.659,649.06,114.47,IA
16,17.8,4.806,4.272,13.706,15.130,780.45,133.80,KS
17,21.4,4.066,4.922,16.692,16.264,872.51,137.13,KY
18,20.5,7.175,6.765,14.965,20.090,1281.55,194.78,LA
19,15.1,5.738,4.530,13.137,12.684,661.88,96.57,ME
20,12.5,4.250,4.000,8.875,12.375,1048.78,192.70,MD
21,8.2,1.886,2.870,7.134,6.560,1011.14,135.63,MA
22,14.1,3.384,3.948,13.395,10.857,1110.61,152.26,MI
23,9.6,2.208,2.784,8.448,8.448,777.18,133.35,MN
24,17.6,2.640,5.456,1.760,17.600,896.07,155.77,MS
25,16.1,6.923,5.474,14.812,13.524,790.32,144.45,MO
26,21.4,8.346,9.416,17.976,18.190,816.21,85.15,MT
27,14.9,1.937,5.215,13.857,13.410,732.28,114.82,NE
28,14.7,5.439,4.704,13.965,14.553,1029.87,138.71,NV
29,11.6,4.060,3.480,10.092,9.628,746.54,120.21,NH
30,11.2,1.792,3.136,9.632,8.736,1301.52,159.85,NJ
31,18.4,3.496,4.968,12.328,18.032,869.85,120.75,NM
32,12.3,3.936,3.567,10.824,9.840,1234.31,150.01,NY
33,16.8,6.552,5.208,15.792,13.608,708.24,127.82,NC
34,23.9,5.497,10.038,23.661,20.554,688.75,109.72,ND
35,14.1,3.948,4.794,13.959,11.562,697.73,133.52,OH
36,19.9,6.368,5.771,18.308,18.706,881.51,178.86,OK
37,12.8,4.224,3.328,8.576,11.520,804.71,104.61,OR
38,18.2,9.100,5.642,17.472,16.016,905.99,153.86,PA
39,11.1,3.774,4.218,10.212,8.769,1148.99,148.58,RI
40,23.9,9.082,9.799,22.944,19.359,858.97,116.29,SC
41,19.4,6.014,6.402,19.012,16.684,669.31,96.87,SD
42,19.5,4.095,5.655,15.990,15.795,767.91,155.57,TN
43,19.4,7.760,7.372,17.654,16.878,1004.75,156.83,TX
44,11.3,4.859,1.808,9.944,10.848,809.38,109.48,UT
45,13.6,4.080,4.080,13.056,12.920,716.20,109.61,VT
46,12.7,2.413,3.429,11.049,11.176,768.95,153.72,VA
47,10.6,4.452,3.498,8.692,9.116,890.03,111.62,WA
48,23.8,8.092,6.664,23.086,20.706,992.61,152.56,WV
49,13.8,4.968,4.554,5.382,11.592,670.31,106.62,WI
50,17.4,7.308,5.568,14.094,15.660,791.14,122.04,WY

In [51]:
car_cor=car.corr()
car_cor

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5320\601503997.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  car_cor=car.corr()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
total,1.000000,0.611548,0.852613,0.827560,0.956179,-0.199702,-0.036011
speeding,0.611548,1.000000,0.669719,0.588010,0.571976,-0.077675,-0.065928
alcohol,0.852613,0.669719,1.000000,0.732816,0.783520,-0.170612,-0.112547
not_distracted,0.827560,0.588010,0.732816,1.000000,0.747307,-0.174856,-0.075970
no_previous,0.956179,0.571976,0.783520,0.747307,1.000000,-0.156895,-0.006359
ins_premium,-0.199702,-0.077675,-0.170612,-0.174856,-0.156895,1.000000,0.623116
ins_losses,-0.036011,-0.065928,-0.112547,-0.075970,-0.006359,0.623116,1.000000

In [52]:
car_cor["total"].sort_values(ascending=False)
#no previous is showing maximum positive correlation
#alcohol is also showing positive correlation after no previous crashes(alcohol consumption increases shows increase in car crash also)
#not distracted is also showing positive corelation(even if the driver is not distracted opp people can be a reoson for car crash)
#speeding is showing positive corelation but the strength is less compared to the ones above(speed increase also result in increased car_crash) 
#ins losses ans ins premium is not showing much correlation

total             1.000000
no_previous       0.956179
alcohol           0.852613
not_distracted    0.827560
speeding          0.611548
ins_losses       -0.036011
ins_premium      -0.199702
Name: total, dtype: float64

In [61]:
car_cor["no_previous"].sort_values(ascending=False)
#no previos is having high positive correlation with alcohol and not distracted
#which means even if there is no previous history of accident drunk and drive can cause car crashes
#no previous history is positive related to not distracted which means opp side accidents can happen

no_previous       1.000000
total             0.956179
alcohol           0.783520
not_distracted    0.747307
speeding          0.571976
ins_losses       -0.006359
ins_premium      -0.156895
Name: no_previous, dtype: float64

In [62]:
car_cor["alcohol"].sort_values(ascending=False)

alcohol           1.000000
total             0.852613
no_previous       0.783520
not_distracted    0.732816
speeding          0.669719
ins_losses       -0.112547
ins_premium      -0.170612
Name: alcohol, dtype: float64

In [63]:
car_cor["not_distracted"].sort_values(ascending=False)
#no distraction is having high correlation with total

not_distracted    1.000000
total             0.827560
no_previous       0.747307
alcohol           0.732816
speeding          0.588010
ins_losses       -0.075970
ins_premium      -0.174856
Name: not_distracted, dtype: float64

In [64]:
car_cor["speeding"].sort_values(ascending=False)
#speeding and alcohol showing +ve relation which means high alcohol results in high speed

speeding          1.000000
alcohol           0.669719
total             0.611548
not_distracted    0.588010
no_previous       0.571976
ins_losses       -0.065928
ins_premium      -0.077675
Name: speeding, dtype: float64

In [27]:
trends

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,,
1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [53]:
trends_corr=trends.corr()
trends_corr

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5320\742139079.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  trends_corr=trends.corr()

,Age,Purchase Amount (USD),Review Rating,Previous Purchases
Age,1.000000,-0.010424,-0.021949,0.040445
Purchase Amount (USD),-0.010424,1.000000,0.030776,0.008063
Review Rating,-0.021949,0.030776,1.000000,0.004229
Previous Purchases,0.040445,0.008063,0.004229,1.000000

In [54]:
trends_corr["Age"].sort_values(ascending=False)
#none of the points are showing correlation as the values are more close to 0

Age                      1.000000
Previous Purchases       0.040445
Purchase Amount (USD)   -0.010424
Review Rating           -0.021949
Name: Age, dtype: float64

In [57]:
trends_corr["Previous Purchases"].sort_values(ascending=False)

Previous Purchases       1.000000
Age                      0.040445
Purchase Amount (USD)    0.008063
Review Rating            0.004229
Name: Previous Purchases, dtype: float64

In [60]:
trends_corr["Purchase Amount (USD)"].sort_values(ascending=False)

Purchase Amount (USD)    1.000000
Review Rating            0.030776
Previous Purchases       0.008063
Age                     -0.010424
Name: Purchase Amount (USD), dtype: float64

In [28]:
housing

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
longitude,,,,,,,,,
-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...
-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [55]:
housing_corr=housing.corr()
housing_corr

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5320\1346480756.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  housing_corr=housing.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069608,0.099773,0.055310,-0.015176,-0.045967
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066983,-0.108785,-0.071035,-0.079809,-0.144160
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.320451,-0.296244,-0.302916,-0.119034,0.105623
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.930380,0.857126,0.918484,0.198050,0.134153
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686
population,0.099773,-0.108785,-0.296244,0.857126,0.877747,1.000000,0.907222,0.004834,-0.024650
households,0.055310,-0.071035,-0.302916,0.918484,0.979728,0.907222,1.000000,0.013033,0.065843
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007723,0.004834,0.013033,1.000000,0.688075
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049686,-0.024650,0.065843,0.688075,1.000000

In [56]:
housing_corr["longitude"].sort_values(ascending=False)
#longitude is showing high negative correlation with latitude which means when latitude increases longitude decreases and vice versa

longitude             1.000000
population            0.099773
total_bedrooms        0.069608
households            0.055310
total_rooms           0.044568
median_income        -0.015176
median_house_value   -0.045967
housing_median_age   -0.108197
latitude             -0.924664
Name: longitude, dtype: float64

In [70]:
housing_corr["latitude"].sort_values(ascending=False)
#showing big-ve relation to longitude

latitude              1.000000
housing_median_age    0.011173
total_rooms          -0.036100
total_bedrooms       -0.066983
households           -0.071035
median_income        -0.079809
population           -0.108785
median_house_value   -0.144160
longitude            -0.924664
Name: latitude, dtype: float64

In [66]:
housing_corr["population"].sort_values(ascending=False)
#population is showing big +ve relation to house holds as population increases demands for household also increase
#population and total bedroom and rooms also show +ve correlation as the number of heads increases room supply will also increase
#housing median age is showing very small negative deviation to population which means when age increases population decreases but the magnitude is small which shows the decreased strength of the correlation

population            1.000000
households            0.907222
total_bedrooms        0.877747
total_rooms           0.857126
longitude             0.099773
median_income         0.004834
median_house_value   -0.024650
latitude             -0.108785
housing_median_age   -0.296244
Name: population, dtype: float64

In [69]:
housing_corr["total_bedrooms"].sort_values(ascending=False)
#total bedroom showing high +ve correlation to total rooms and house holds as total bedroom increases the house hold needs as well as the number of rooms increases
#population is also showing +ve relation becz population increase demands an increase in bedroom number also
#a small negative correlation towards housing median age as age increases number of bedroom decrease

total_bedrooms        1.000000
households            0.979728
total_rooms           0.930380
population            0.877747
longitude             0.069608
median_house_value    0.049686
median_income        -0.007723
latitude             -0.066983
housing_median_age   -0.320451
Name: total_bedrooms, dtype: float64

In [71]:
housing_corr["housing_median_age"].sort_values(ascending=False)
#less correlation is observed to either side but a smal -ve deviation towards total rooms and bedrooms

housing_median_age    1.000000
median_house_value    0.105623
latitude              0.011173
longitude            -0.108197
median_income        -0.119034
population           -0.296244
households           -0.302916
total_bedrooms       -0.320451
total_rooms          -0.361262
Name: housing_median_age, dtype: float64

In [72]:
housing_corr["total_rooms"].sort_values(ascending=False)

total_rooms           1.000000
total_bedrooms        0.930380
households            0.918484
population            0.857126
median_income         0.198050
median_house_value    0.134153
longitude             0.044568
latitude             -0.036100
housing_median_age   -0.361262
Name: total_rooms, dtype: float64

In [73]:
housing_corr["households"].sort_values(ascending=False)
#showing high +ve relation to total rooms bedrooms and population the detailings and given above

households            1.000000
total_bedrooms        0.979728
total_rooms           0.918484
population            0.907222
median_house_value    0.065843
longitude             0.055310
median_income         0.013033
latitude             -0.071035
housing_median_age   -0.302916
Name: households, dtype: float64

In [75]:
housing_corr["median_house_value"].sort_values(ascending=False)
#showing +ve relation to income which shows the income increase result in the increased house value also

median_house_value    1.000000
median_income         0.688075
total_rooms           0.134153
housing_median_age    0.105623
households            0.065843
total_bedrooms        0.049686
population           -0.024650
longitude            -0.045967
latitude             -0.144160
Name: median_house_value, dtype: float64

In [76]:
housing_corr["median_income"].sort_values(ascending=False)

median_income         1.000000
median_house_value    0.688075
total_rooms           0.198050
households            0.013033
population            0.004834
total_bedrooms       -0.007723
longitude            -0.015176
latitude             -0.079809
housing_median_age   -0.119034
Name: median_income, dtype: float64

In [87]:
taxis=pd.read_csv("taxis.csv")
taxis

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [88]:
taxi_cor=taxis.corr()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5320\1807905749.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  taxi_cor=taxis.corr()

In [90]:
taxi_cor
#distance show high +ve correlation with the fare and total bill becz as distance increases the fare also increase,in context to this tip and tolls are also showing positive relation which tells us the distance increase result in payment of tolls and tips
#fare show +ve relation with distance and total

            passengers  distance      fare       tip     tolls     total
passengers    1.000000  0.009411  0.007637  0.021099 -0.002903  0.015708
distance      0.009411  1.000000  0.920108  0.452589  0.635267  0.904676
fare          0.007637  0.920108  1.000000  0.488612  0.609307  0.974358
tip           0.021099  0.452589  0.488612  1.000000  0.413619  0.646186
tolls        -0.002903  0.635267  0.609307  0.413619  1.000000  0.683142
total         0.015708  0.904676  0.974358  0.646186  0.683142  1.000000

In [93]:
weather=pd.read_csv("GlobalWeatherRepository.csv")

In [94]:
weather

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1693301400,2023-08-29 14:00,28.8,83.8,Sunny,...,7.9,11.1,1,1,05:24 AM,06:24 PM,05:39 PM,02:48 AM,Waxing Gibbous,93
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1693301400,2023-08-29 11:30,27.0,80.6,Partly cloudy,...,28.2,29.6,2,3,06:04 AM,07:19 PM,06:50 PM,03:25 AM,Waxing Gibbous,93
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1693301400,2023-08-29 10:30,28.0,82.4,Partly cloudy,...,6.4,7.9,1,1,06:16 AM,07:21 PM,06:46 PM,03:50 AM,Waxing Gibbous,93
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1693301400,2023-08-29 11:30,10.2,50.4,Sunny,...,0.5,0.8,1,1,07:16 AM,08:34 PM,08:08 PM,04:38 AM,Waxing Gibbous,93
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1693301400,2023-08-29 10:30,25.0,77.0,Partly cloudy,...,139.6,203.3,4,10,06:11 AM,06:06 PM,04:43 PM,04:41 AM,Waxing Gibbous,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9541,Venezuela,Caracas,10.50,-66.92,America/Caracas,1697403600,2023-10-15 17:00,34.0,93.2,Sunny,...,20.2,21.0,2,2,06:16 AM,06:10 PM,06:53 AM,06:53 PM,Waxing Crescent,0
9542,Vietnam,Hanoi,21.03,105.85,Asia/Bangkok,1697403600,2023-10-16 04:00,23.0,73.4,Clear,...,56.3,68.6,3,7,05:52 AM,05:33 PM,06:07 AM,05:53 PM,Waxing Crescent,0
9543,Yemen,Sanaa,15.35,44.21,Asia/Aden,1697403600,2023-10-16 00:00,15.0,59.0,Clear,...,31.8,94.4,2,3,05:55 AM,05:43 PM,06:17 AM,06:11 PM,Waxing Crescent,0
9544,Zambia,Lusaka,-15.42,28.28,Africa/Lusaka,1697403600,2023-10-15 23:00,26.6,80.0,Clear,...,17.5,23.0,2,2,05:40 AM,06:06 PM,06:00 AM,06:47 PM,Waxing Crescent,0
9545,Zimbabwe,Harare,-17.82,31.04,Africa/Harare,1697403600,2023-10-15 23:00,19.3,66.7,Clear,...,20.7,25.4,2,2,05:28 AM,05:56 PM,05:47 AM,06:38 PM,Waxing Crescent,0

In [96]:
weather.corr()
#temp cel shows high +ve relation to temp farenheit feels like celcius , and feels like farenheit , becz if one scale increases other also incraeases
#temp cel shows small -ve relation to pressure which indicates if temp increases pressure decreses not in a high amount but it tends to
#moon illumination is not showing any relation to either factors
#sulphur dioxide showing +ve correlation to nitrogen dioxide
#air quality showing +ve relation with carbon dioxide

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5320\2459116109.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  weather.corr()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
latitude,1.000000,-0.013652,-0.000265,-0.343188,-0.343211,-0.089537,-0.089568,0.104342,0.071149,0.071993,...,-0.084009,-0.105555,0.080944,0.127028,0.032758,-0.046834,-0.054657,-0.005352,-0.008995,0.000016
longitude,-0.013652,1.000000,0.000785,-0.152681,-0.152685,-0.125799,-0.125923,0.002040,-0.008029,-0.006817,...,-0.035264,0.113466,-0.167471,0.093191,0.075764,0.145561,0.127850,0.175107,0.179078,-0.000854
last_updated_epoch,-0.000265,0.000785,1.000000,-0.072088,-0.072083,0.022586,0.022797,0.020470,0.075125,0.076631,...,0.004334,0.024706,-0.002390,0.042123,0.014845,0.040730,0.056908,0.070022,0.069589,-0.285076
temperature_celsius,-0.343188,-0.152681,-0.072088,1.000000,0.999998,0.067190,0.066926,-0.043798,-0.504498,-0.505826,...,0.125998,0.045992,0.113384,-0.038105,0.042028,0.061826,0.117244,0.107174,0.109744,-0.001496
temperature_fahrenheit,-0.343211,-0.152685,-0.072083,0.999998,1.000000,0.067179,0.066914,-0.043808,-0.504510,-0.505838,...,0.125986,0.046000,0.113376,-0.038101,0.042020,0.061842,0.117267,0.107217,0.109792,-0.001484
wind_mph,-0.089537,-0.125799,0.022586,0.067190,0.067179,1.000000,0.999965,0.111613,-0.178988,-0.179342,...,0.557822,-0.101032,0.208514,-0.183194,-0.106370,-0.124194,-0.106509,-0.198997,-0.189034,-0.002942
wind_kph,-0.089568,-0.125923,0.022797,0.066926,0.066914,0.999965,1.000000,0.110591,-0.178972,-0.179335,...,0.557727,-0.101174,0.208757,-0.183401,-0.106457,-0.124381,-0.106752,-0.199256,-0.189275,-0.003215
wind_degree,0.104342,0.002040,0.020470,-0.043798,-0.043808,0.111613,0.110591,1.000000,-0.033534,-0.033660,...,0.041776,0.000429,0.056295,-0.013860,-0.025622,-0.006300,0.005018,-0.008910,-0.014754,0.015274
pressure_mb,0.071149,-0.008029,0.075125,-0.504498,-0.504510,-0.178988,-0.178972,-0.033534,1.000000,0.999496,...,-0.216659,-0.046359,-0.076925,0.039830,-0.031512,-0.058255,-0.084986,-0.084099,-0.097835,0.036143
pressure_in,0.071993,-0.006817,0.076631,-0.505826,-0.505838,-0.179342,-0.179335,-0.033660,0.999496,1.000000,...,-0.217165,-0.046329,-0.077250,0.040715,-0.030598,-0.057858,-0.084263,-0.083056,-0.096699,0.036865
precip_mm,-0.034173,-0.028194,-0.034370,0.053229,0.053204,0.032442,0.032373,0.026408,-0.075541,-0.075356,...,0.036132,-0.005635,-0.033076,-0.025116,0.012548,-0.029645,-0.040789,-0.044195,-0.038986,0.049170
precip_in,-0.033135,-0.028390,-0.033960,0.053039,0.053014,0.031381,0.031313,0.026813,-0.074512,-0.074307,...,0.033768,-0.005461,-0.032756,-0.024093,0.013249,-0.029186,-0.040297,-0.043458,-0.038479,0.048604
humidity,0.119778,0.135106,-0.033313,-0.208971,-0.208973,-0.082823,-0.082949,0.046372,0.016554,0.017237,...,-0.050005,0.065515,-0.312890,-0.064996,-0.109724,0.031789,-0.042075,-0.048794,-0.044268,0.025086
cloud,-0.142290,0.053223,-0.022239,0.078305,0.078279,0.158747,0.158884,0.028947,-0.165108,-0.165628,...,0.112272,-0.013997,-0.100927,-0.144439,-0.072965,-0.083601,-0.119518,-0.172001,-0.155472,0.023103
feels_like_celsius,-0.333080,-0.173510,-0.063974,0.971978,0.971971,0.065552,0.065311,-0.047073,-0.484716,-0.485850,...,0.101886,0.039667,0.093382,-0.049223,0.043142,0.044970,0.086554,0.080190,0.085837,0.004392
feels_like_fahrenheit,-0.333140,-0.173473,-0.064010,0.971986,0.971980,0.065491,0.065250,-0.047099,-0.484759,-0.485892,...,0.101854,0.039642,0.093339,-0.049272,0.043112,0.044913,0.086517,0.080176,0.085836,0.004424
visibility_km,-0.010526,0.001348,-0.008903,0.071546,0.071555,0.051884,0.051782,-0.009153,0.039663,0.037379,...,0.107400,-0.159916,0.066098,-0.111254,-0.085987,-0.196141,-0.196722,-0.194722,-0.185267,0.001100
visibility_miles,-0.009808,-0.003877,-0.010427,0.054433,0.054443,0.061144,0.061050,-0.010591,0.050822,0.048700,...,0.115389,-0.170038,0.073535,-0.112678,-0.089614,-0.208093,-0.207651,-0.208096,-0.198498,0.003449
uv_index,-0.222229,-0.182578,-0.042978,0.398819,0.398793,0.163542,0.163881,-0.054370,-0.186315,-0.187560,...,0.033206,-0.037091,0.127611,-0.075031,0.055695,-0.065827,-0.092903,-0.117452,-0.111955,-0.031148
gust_mph,-0.084055,-0.035311,0.004380,0.126054,0.126042,0.557835,0.557742,0.041710,-0.216726,-0.217232,...,0.999987,-0.150940,0.239271,-0.236867,-0.165885,-0.149959,-0.097355,-0.206583,-0.193061,0.018499
gust_kph,-0.084009,-0.035264,0.004334,0.125998,0.125986,0.557822,0.557727,0.041776,-0.216659,-0.217165,...,1.000000,-0.150901,0.239258,-0.236743,-0.165874,-0.149876,-0.097272,-0.206504,-0.192993,0.018636
air_quality_Carbon_Monoxide,-0.105555,0.113466,0.024706,0.045992,0.046000,-0.101032,-0.101174,0.000429,-0.046359,-0.046329,...,-0.150901,1.000000,-0.194165,0.510306,0.387185,0.898766,0.753502,0.558782,0.481637,-0.009442
air_quality_Ozone,0.080944,-0.167471,-0.002390,0.113384,0.113376,0.208514,0.208757,0.056295,-0.076925,-0.077250,...,0.239258,-0.194165,1.000000,-0.288434,-0.039942,-0.125517,-0.065344,-0.075899,-0.070505,-0.032924
air_quality_Nitrogen_dioxide,0.127028,0.093191,0.042123,-0.038105,-0.038101,-0.183194,-0.183401,-0.013860,0.039830,0.040715,...,-0.236743,0.510306,-0.288434,1.000000,0.702992,0.507385,0.422014,0.514550,0.480057,-0.007295
air_quality_Sulphur_dioxide,0.032758,0.075764,0.014845,0.042028,0.042020,-0.106370,-0.106457,-0.025622,-0.031512,-0.030598,...,-0.165874,0.387185,-0.039942,0.702992,1.000000,0.403013,0.344048,0.441060,0.425334,-0.009402
air_quality_PM2.5,-0.046834,0.145561,0.040730,0.061826,0.061842,-0.124194,-0.124381,-0.006300,-0.058255,-0.057858,...,-0.149876,0.898766,-0.125517,0.507385,0.403013,1.000000,0.909002,0.731761,0.648959,-0.012835
air_quality_PM10,-0.054657,0.127850,0.056908,0.117244,0.117267,-0.106509,-0.106752,0.005018,-0.084986,-0.084263,...,-0.097272,0.753502,-0.065344,0.422014,0.344048,0.909002,1.000000,0.726187,0.657109,-0.012189
air_quality_us-epa-index,-0.005352,0.175107,0.070022,0.107174,0.107217,-0.198997,-0.199256,-0.008910,-0.084099,-0.083056,...,-0.206504,0.558782,-0.075899,0.514550,0.441060,0.731761,0.726187,1.000000,0.942991,-0.025699
air_quality_gb-defra-index,-0.008995,0.179078,0.069589,0.109744,0.109792,-0.189034,-0.189275,-0.014754,-0.097835,-0.096699,...,-0.192993,0.481637,-0.070505,0.480057,0.425334,0.648959,0.657109,0.942991,1.000000,-0.023866
moon_illumination,0.000016,-0.000854,-0.285076,-0.001496,-0.001484,-0.002942,-0.003215,0.015274,0.036143,0.036865,...,0.018636,-0.009442,-0.032924,-0.007295,-0.009402,-0.012835,-0.012189,-0.025699,-0.023866,1.000000